apiVersion: k8s.cni.cncf.io/v1
kind: NetworkAttachmentDefinition
metadata:
  name: vm-layer2-nad
  namespace: vm-guests
spec:
  config: |
    {
      "cniVersion": "0.3.1",
      "name": "vm-layer2-network",
      "type": "ovn-k8s-cni-overlay",
      "topology": "layer2",
      "role": "primary",
      "netAttachDefName": "vm-guests/vm-layer2-nad",
      "subnets": "192.168.100.0/24",
      "allowPersistentIPs": true,
      "layer2": {
        "subnets": ["192.168.100.0/24"],
        "joinSubnets": ["192.168.100.0/24"],
        "mtu": 1400
      }
    }
