apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  name: rhel9-vm
  namespace: vms-prod
spec:
  dataVolumeTemplates:
    - apiVersion: cdi.kubevirt.io/v1beta1
      kind: DataVolume
      metadata:
        name: rhel9-vm-disk
      spec:
        sourceRef:
          kind: DataSource
          name: rhel9
          namespace: openshift-virtualization-os-images
        storage:
          resources:
            requests:
              storage: 40Gi
  runStrategy: Always
  template:
    metadata:
      labels:
        kubevirt.io/domain: rhel9-vm
        app: database
        environment: production
    spec:
      domain:
        cpu:
          cores: 4
          sockets: 1
          threads: 1
        devices:
          disks:
            - disk:
                bus: virtio
              name: rootdisk
            - disk:
                bus: virtio
              name: cloudinitdisk
          interfaces:
            - masquerade: {}
              name: default
          rng: {}
        machine:
          type: pc-q35-rhel9.4.0
        memory:
          guest: 16Gi
      networks:
        - name: default
          pod: {}
      volumes:
        - dataVolume:
            name: rhel9-vm-disk
          name: rootdisk
        - cloudInitNoCloud:
            userData: |-
              #cloud-config
              user: cloud-user
              password: changeme
              chpasswd: { expire: True }
              ssh_pwauth: True
              packages:
                - vim
                - git
              runcmd:
                - systemctl enable --now cockpit.socket
          name: cloudinitdisk
