apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  name: windows-2022
  namespace: vms-prod
spec:
  dataVolumeTemplates:
    - apiVersion: cdi.kubevirt.io/v1beta1
      kind: DataVolume
      metadata:
        name: windows-2022-disk
      spec:
        sourceRef:
          kind: DataSource
          name: win2k22
          namespace: openshift-virtualization-os-images
        storage:
          resources:
            requests:
              storage: 60Gi
  runStrategy: RerunOnFailure
  template:
    metadata:
      labels:
        kubevirt.io/domain: windows-2022
    spec:
      domain:
        cpu:
          cores: 4
          sockets: 1
          threads: 1
        devices:
          disks:
            - disk:
                bus: sata
              name: rootdisk
            - cdrom:
                bus: sata
              name: windows-guest-tools
          interfaces:
            - masquerade: {}
              model: e1000e
              name: default
          inputs:
            - bus: usb
              name: tablet
              type: tablet
          rng: {}
        features:
          acpi: {}
          apic: {}
          hyperv:
            relaxed: {}
            spinlocks:
              spinlocks: 8191
            vapic: {}
        machine:
          type: pc-q35-rhel9.4.0
        memory:
          guest: 16Gi
        resources:
          requests:
            memory: 16Gi
      networks:
        - name: default
          pod: {}
      volumes:
        - dataVolume:
            name: windows-2022-disk
          name: rootdisk
        - containerDisk:
            image: registry.redhat.io/container-native-virtualization/virtio-win-rhel9
          name: windows-guest-tools
