apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: vm-viewer
  namespace: vms-prod
rules:
  - apiGroups:
      - kubevirt.io
    resources:
      - virtualmachines
      - virtualmachineinstances
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ""
    resources:
      - pods
      - services
    verbs:
      - get
      - list
