apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: vm-disk
  namespace: vms-prod
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 50Gi
  storageClassName: lvms-vg1
